<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Project.Commercial.Website" 
					description="Project.Commercial.Website templates and renderings" 
					dependencies="Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\Commercial.Website\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Project/Commercial.Website"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Commercial.Website"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
