<form class="product-filter" method="get" action="">
    <label for="sort-by">Sort by:</label>
    <select id="sort-by" class="product-filter__sort">        
        <option value="a-z" selected>A-Z</option>
        <option value="a-z">Price low-high</option>|
        <option value="a-z">Price high-low</option>|
    </select>
    <button type="submit" class="product-filter__btn">
        Search
    </button>    
</form>
<!-- product filter ends -->