@{
    var items = 10;
}

<div class="product-filter">
    <div class="product-filter__inner">
        <div class="product-filter__search-pane">
            <!-- some filters here -->
        </div>
        <div class="product-filter__search-results">
            @forEach(var item in items) {
                <div class="product-card">
                    <img src="~/path/to/image.jpg" class="product-card__image" />
                    <div class="product-card__copy">
                        <h2 class="product-card__title">Heading Text</h2>                    
                        <p>
                            Some fancy text about the product.
                        </p>
                    </div>
                    <a href="#" class="product-card__btn">
                        Buy Now
                    </a>
                </div>
            }
        </div>
    </div>
</div>
