.product-filter {
    background: #fff;
    &__inner {        
        display: flex;
    }
    &__search-pane {
        flex-basis: 30%;
    }
    &__search-results {
        flex-basis: 70%;
    }

    &__card {
        
    }

    &__btn {
        @extend %fd-primary-btn;
    }
}